.bg-gradient-sidebar {
    background-color: #1e1e2d;
    background-image: linear-gradient(180deg, #1e1e2d 10%, #1e1e2d 100%);
    background-size: cover;
}

.bg-gradient-nav {
    background-color: #2a2b38;
    background-image: linear-gradient(180deg, #2a2b38 10%, #2a2b38 100%);
    background-size: cover;
}

.pinkish {
    color: #e71372;
}

.blueish {
    color: #2c77f4 !important;
}

.skyish {
    color: #36b9cc;
}

#wrapper #content-wrapper {
    background-color: #fafafa !important;
}

.list-group-item:first-child.list-group-custom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.text-primary {
    color: #1e1e2d !important;
}
.btn-primary {
    background-color: #1e1e2d !important
}

.header-text { color: #646470;}


.custom-font-size {
    font-size: 13px;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar, #snackbarError {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #1e1e2d; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-size: 13px;
}

#snackbarError {
    background: #e71372 !important; /* Black background color */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show,  #snackbarError.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* parsley js - for validation*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #fff;
    background-color: #1cc88a;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.parsley-type, .parsley-required, .parsley-equalto, .parsley-pattern, .parsley-length {
    color: #e71372;
    margin-top: 6px;
}

/* DATA TABLES CUSTOMIZE*/
tbody tr td {
    vertical-align: middle !important;
}

.dataTables_length label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-left: 15px;
}

.custom-select.custom-select-sm.form-control.form-control-sm {
    margin-left: 5px;
    margin-right: 5px;
}

.dataTables_filter label {
    align-items: center;
    display: inline-flex;
    margin-left: 200px;
}

.dataTables_filter label input {
    margin-left: 5px;
}

table.dataTable {
    border-collapse: collapse !important;
}

tbody tr.odd, tr.even {
    border-bottom: 1px solid #f0f3ff !important;
}

.dataTables_processing {
    background: #1B1B2A;
    color: white;
    padding: 20px;
    width: 150px;
    margin: auto;
}

.dataTables_paginate.paging_simple_numbers {
    padding-bottom: 4px;
    margin-top: 4px;
}

.dataTables_paginate.paging_simple_numbers ul {
    font-size: 11px;
}

.page-item.active .page-link {
    background-color: #1e1e2d !important;
    border-color: #1e1e2d !important;
    font-weight: 600;
    border-radius: 3px;
}

.page-link {
    color: #36b9cc;
    font-weight: bold;
    transition: all 100ms linear;
    border: none;
}

.page-link:hover {
    background-color: #d52a1a;
    color: white;
}

.dataTables_paginate.paging_simple_numbers ul li {
    margin-left: 6px;
}

.dataTables_info {
    margin-left: 15px;
    font-size: 13px;
}

tr.highlight {
    background: #1e1e2d !important;
    color: white !important;
    font-weight: bold;
}

.image-pos {
    max-width: 64px;
    max-height: 64px;
    transform: translateY(7px);
}

.swal-overlay {
    background-color: rgba(44, 119, 244, 0.45);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,
.btn-primary.disabled, .btn-primary:disabled {
    border-color: transparent;
}


.bottom-contact {
    padding-top: 7px !important;
    margin-bottom: 0 !important;
}
