// $col-gold: #FFC43D;
$col-gold: #F9BF00;
$col-deepRed:#F44336;
$col-red:#E07A5F;
$col-green:#4CAF50;
$col-blue:#03A9F4;
$col-white :#fff;
$col-dirtyWhite:#F5F5F5;
$col-darkGrey:#212121;
$col-lightGrey:#706969;
$col-text:#888888;
$col-header :#868686;
$landscape:576px;
$tablet:768px;
$desktop:992px;
$largeDesktop:1200px;
$mediumLargeDesktop:1536px;
$superLargeDesktop:1920px;
$breadcrumb-divider: quote(">");